<style>
.title{
color:#fff;

}

</style>


<ion-view view-title="Dental Record" style="color:white;">
	<ion-content style="background-color:#f7f7f7;">
<div class="container wrapper" ng-controller="DbController">
    <div class="card">
      <div class="item item-text-wrap">
				<center><h2 style="font-size:18px;">Physical and Medica History</h2></center>
				<br>
        <h2 style="font-size:15px; font-weight:bold; font-family:verdana;">Tongue</h2>
        <h2 style="font-size:15px; font-family:verdana;">N/A</h2>
        <br>
        <h2 style="font-size:15px; font-weight:bold; font-family:verdana;">Cheeks</h2>
        <h2 style="font-size:15px; font-family:verdana;">N/A</h2>
        <br>
        <h2 style="font-size:15px; font-weight:bold; font-family:verdana;">Palate</h2>
        <h2 style="font-size:15px; font-family:verdana;">N/A</h2>
        <br>
        <h2 style="font-size:15px; font-weight:bold; font-family:verdana;">Allergies</h2>
        <h2 style="font-size:15px; font-family:verdana;">N/A</h2>
        <br>
        <h2 style="font-size:15px; font-weight:bold; font-family:verdana;">Birthday</h2>
        <h2 style="font-size:15px; font-family:verdana;">N/A</h2>
        <br>
        <h2 style="font-size:15px; font-weight:bold; font-family:verdana;">Liver</h2>
        <h2 style="font-size:15px; font-family:verdana;">N/A</h2>
        <br>
        <h2 style="font-size:15px; font-weight:bold; font-family:verdana;;">Tonsils</h2>
        <h2 style="font-size:15px; font-family:verdana;">N/A</h2>
        <br>
        <h2 style="font-size:15px; font-weight:bold; font-family:verdana;">Heart Disease</h2>
        <h2 style="font-size:15px; font-family:verdana;">N/A</h2>
        <br>
        <h2 style="font-size:15px; font-weight:bold; font-family:verdana;">Lips</h2>
        <h2 style="font-size:15px; font-family:verdana;">N/A</h2>
        <br>
        <h2 style="font-size:15px; font-weight:bold; font-family:verdana;;">Blood Dyscracia</h2>
        <h2 style="font-size:15px; font-family:verdana;">N/A</h2>
				<br>
				<h2 style="font-size:15px; font-weight:bold; font-family:verdana;;">Hygiene</h2>
        <h2 style="font-size:15px; font-family:verdana;">N/A</h2>
				<br>N/A
				<h2 style="font-size:15px; font-weight:bold; font-family:verdana;;">Floor of Mouth</h2>
				<h2 style="font-size:15px; font-family:verdana;">N/A</h2>
				<br>
				<h2 style="font-size:15px; font-weight:bold; font-family:verdana;;">Diabetes</h2>
        <h2 style="font-size:15px; font-family:verdana;">N/A</h2>



      </div>
    </div><br><br>


</div>


	</ion-content>
<br>
  <div class="tabs">
    <a href="#/app/record" class="tab-item">
      Personal Record
    </a>
    <a href="#/app/medical" class="tab-item">
      Medical Record
    </a>
    <a href="#/app/dental" class="tab-item">
      Dental Record
    </a>
  </div>
</ion-view>
