<style>
.title{
color:#fff;

}

</style>


<ion-view view-title="E-Health Advice" style="color:white;">
	<ion-content style="background-color:#f7f7f7;">

    <div class="card">
      <div class="item item-text-wrap">


        <div class="list">
          <label class="item item-input item-floating-label">
             <span class="input-label">Title</span>
             <input type="text" placeholder="Title">
           </label>

          <label class="item item-input item-floating-label">
                         <span class="input-label">E-Health</span>
            <textarea placeholder="Advice" style="height:200px;"></textarea>
          </label>
        </div>

    </div>
<br>
<br>
    <center>
         <button class="button button-light" href="#/app/account" ng-click="insertInfo(recetaInfo); add(); isScheduled()" style="width:300px; border-radius:5px; margin-bottom:20px; color: #fff; background-color:#2AD17D;">
       SEND
       </button>

     </center

    </div>

  </ion-view>
</ion-content>
