
<style>
.scroll-bg{
 background: url("img/background.png");
    background-repeat: no-repeat;
    background-size: cover;


    }

    .card {
        /* Add shadows to create the "card" effect */
        box-shadow: 0 6px 10px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
    }



    .float-button {


      width: 90%;
      padding: 30px;
      font-size: 40px;
      background:;
      position: fixed;
      bottom: 20px; /* Adjust to where you want it */
      right: 20px; /* Adjust to where you want it */
      z-index: 9999;

      border-radius: 50px;


     }

     .float-button .height_fix {
       margin-top: 100%;
     }

     .float-button .content {
       position: absolute;
       left: 0;
       top: 50%;
       height: 100%;
       width: 100%;
       text-align: center;
       margin-top: -20px; /* Note, this must be half the font size */
       background-color:#fff;
       }


</style>


<ion-view class="scroll-bg">
  <ion-content ng-controller="login">

  <br>
<img src="img/logo.png" class="center" style="width:200px; height:auto; padding-top:30px;">

</div>
<br>


<div class="container">
  <br>
  <br>
  <div class="card" style="height:70%; border-radius:10px; position">

    <form class="list" ng-submit="loginform()">
    <div class="item item-text-wrap">
  <center>  <h2>LOGIN</h2>  </center>
            <div class="list">
              <label class="item item-input item-floating-label">
                <span class="input-label">Username</span>
                <input type="text" placeholder="Username" name="username" ng-model="username" >
              </label>
              <label class="item item-input item-floating-label">
                <span class="input-label">Password</span>
                <input type="password" placeholder="Password" name="password" ng-model="password" >
              </label>

              <!--<label class="item item item-input item-input item-select">
                  <label style="font-size:100%;">Sign in as:</labe>
                <div class="input-label">

                 <select  name="r_dosageform" ng-model="recetaInfo.r_dosageform"  required>
                 <option value="student">student </option>
                 <option value="faculty">faculty </option>
                     </select>
                   </div>


              </label>
              <br>-->

            </div>

            <div class="float-button">
    <span class="height-fix">
      <button type="submit" class="button button-fab button-fab-bottom-right fab-fixed button-assertive pane" ng-click="showConfirm()" id="fab-profile"  href="#/app/home1" nav-view="active" style="opacity: 1; transform: translate3d(0%, 0px, 0px); background-color:white; border-color:#2dcca6; border-radius:50px;color:#13E39A;">
        LOGIN
      </button>
    </span>
  </div>

    </div>

</form>




    </div>
  </div>
</div>


</div>

<br>
<br>



</ion-view>
  <ion-content>
