<style>
.title{
color:#fff;

}

</style>


<ion-view view-title="Medical Record" style="color:white;">
	<ion-content style="background-color:#f7f7f7;">
<div class="container wrapper" ng-controller="DbController">
    <div class="card">
      <div class="item item-text-wrap">
        <h2 style="font-size:15px; font-weight:bold; font-family:verdana;">Name</h2>
        <h2 style="font-size:15px; font-family:verdana;">Jesza C. Bada</h2>
        <br>
        <h2 style="font-size:15px; font-weight:bold; font-family:verdana;">Course</h2>
        <h2 style="font-size:15px; font-family:verdana;">Bachelor of Science in Information Technology</h2>
        <br>
        <h2 style="font-size:15px; font-weight:bold; font-family:verdana;">Age</h2>
        <h2 style="font-size:15px; font-family:verdana;">18 yrs old</h2>
        <br>
        <h2 style="font-size:15px; font-weight:bold; font-family:verdana;">Sex</h2>
        <h2 style="font-size:15px; font-family:verdana;">Female</h2>
        <br>
        <h2 style="font-size:15px; font-weight:bold; font-family:verdana;">Birthday</h2>
        <h2 style="font-size:15px; font-family:verdana;">1/10/1998</h2>
        <br>
        <h2 style="font-size:15px; font-weight:bold; font-family:verdana;">Civil Status</h2>
        <h2 style="font-size:15px; font-family:verdana;">Student</h2>
        <br>
        <h2 style="font-size:15px; font-weight:bold; font-family:verdana;;">Tel#/Cel#</h2>
        <h2 style="font-size:15px; font-family:verdana;">09123096968</h2>
        <br>
        <h2 style="font-size:15px; font-weight:bold; font-family:verdana;">Address</h2>
        <h2 style="font-size:15px; font-family:verdana;">557 Begonia St. Sta.Rita Olongapo City</h2>
        <br>
        <h2 style="font-size:15px; font-weight:bold; font-family:verdana;">Height</h2>
        <h2 style="font-size:15px; font-family:verdana;">5'3</h2>
        <br>
        <h2 style="font-size:15px; font-weight:bold; font-family:verdana;;">Weight:</h2>
        <h2 style="font-size:15px; font-family:verdana;">50 kilos</h2>


      </div>
    </div><br><br>


</div>


	</ion-content>
<br>
  <div class="tabs">
    <a href="#/app/record" class="tab-item">
      Personal Record
    </a>
    <a href="#/app/record" class="tab-item">
      Medical Record
    </a>
    <a href="#/app/dental" class="tab-item">
      Dental Record
    </a>
  </div>
</ion-view>
